pkgbase = mcsrvmanager
	pkgdesc = Templated systemd + tmux Minecraft server manager with backup timer
	pkgver = 0.1.0
	pkgrel = 2
	url = https://example.invalid/mcsrvmanager
	install = mcsrvmanager.install
	arch = any
	license = custom
	makedepends = asciidoctor
	depends = bash
	depends = systemd
	depends = tmux
	depends = 7zip
	depends = java-runtime-headless

pkgname = mcsrvmanager
