GATEWAY=10.2.0.1
LIFETIME=60
SLEEP_SECS=45

AMULE_USER=pi
AMULE_HOME=/home/pi
AMULE_CONF=/home/pi/.aMule/amule.conf
AMULE_SERVICE=amule-daemon.service

# Set this if you want an extra route check
# VPN_IFACE=tun0
VPN_IFACE=
