pkgbase = mc-srv-tools
	pkgdesc = Templated systemd + tmux Minecraft server manager
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/jfernandz/mcsrvmanager
	install = mc-srv-tools.install
	arch = any
	license = custom
	makedepends = asciidoctor
	depends = bash
	depends = systemd
	depends = tmux
	depends = java-runtime-headless
	source = mc-srv-tools-0.1.1.tar.gz::https://github.com/jfernandz/mcsrvmanager/archive/refs/tags/mc-srv-tools-v0.1.1.tar.gz
	sha256sums = SKIP

pkgname = mc-srv-tools
